<ion-header>
  <ion-toolbar color= "primary">
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text="center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<img class="icono" src="assets/icon/SIDEFOR.svg">
	<ion-item>
		<ion-label position="floating">Correo Electrónico</ion-label>
		<ion-input type="email" [(ngModel)]="correo" name="correo"></ion-input>
	</ion-item>
		<ion-item>
		<ion-label position="floating">Contraseña</ion-label>
		<ion-input type="password" [(ngModel)]="clave" name="contraseña"></ion-input>
	</ion-item>

	<br>
	<ion-button (click)="enviarSesion()" expand="block">Entrar</ion-button>

	
</ion-content>


